# React frontend
/frontend/node_modules/
frontend/build/
frontend/.env
frontend/.DS_Store
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/package-lock.json
frontend/yarn.lock

# Node.js backend
/backend/node_modules/
backend/.env
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/package-lock.json
backend/yarn.lock
backend/*.log

# OS / System files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo
